*{
    box-sizing:border-box ;
}
body {
    margin: 0;
}

.contenedor {
    width: 400px;
    height: 400px;
    border: 3px solid black;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
}

[class^=cuadrado] {
    width: 50px;
    height: 50px;
    border: 2px solid blue;
}
.cuadrado1 {
    background-color: red;
    position: absolute;
    top: 0px;
    right: 0px;;

}
.cuadrado2 {
    background-color: blueviolet;
    position: absolute;
    top: 0px;
    left: 0px;
}
.cuadrado3 {
    background-color: orange;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.cuadrado4 {
    background-color: rgb(158, 146, 116);
    position: absolute;
    bottom: 0;
    right: 0;
}
.cuadrado5 {
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
