* {
    box-sizing:border-box ;
}
body {
    margin: 0;
    
}
.menu {
    background-color: lightseagreen;
    height: 60px;
    padding: 12px;
    text-align: center;
    font-size: 25px;
    position: fixed;
    width: 100%;
    top: 0;
}
h1 {
    
    padding-top:100px ;
}