* {
   margin: 0;
    box-sizing: border-box;
    text-align: center;
}

[class^= "bg-"] {
    display: inline-block;
    width: 30%;
    height: 400px;
    border: 2px solid red; 
    
}
.bg-color {
    background-color: crimson;
}
.bg-image {
    background-image: url(../img/madrid.jpg);
    background-size: cover;
}
.bg-size {
    background-image: url(../img/1.jpg);
    /* background-size: auto; */
    /* background-size: 50%; */
    /* background-size: cover; */
    background-size: contain;
    /* background-size: 200px 190px; */
    background-repeat: no-repeat;
    
}
.bg-repeat {
    background-image: url(../img/madrid.jpg);
    background-size: 20%;
    background-repeat: no-repeat;
    /* background-repeat: repeat-x;
    background-repeat: repeat-y; */
}
.bg-position {
    background-image: url(../img/madrid.jpg);
    background-size: 8%;
    background-repeat: no-repeat;
    background-position: top right;
    /* background-position: bottom left; */
    /* background-position: center right; */
}
.efecto-parallas{
    margin-top: 200px;
}
.bg-attachment {
    
    background-image: url(../img/1.jpg);
    background-size:cover;
    width: 50%;
    height: 600px;
    
    margin-bottom: 500px;
    background-attachment: fixed;
}
.bg-multiple {
    margin-bottom: 200px;
    background-image: url(../img/madrid.jpg), url(../img/1.jpg);
    background-size: 10%,cover;
    background-repeat: no-repeat;
    background-position: bottom right,center;
    /* background-attachment: scroll,fixed; */
  
}